#heading-container {
    background-color: #4aaaa5;
    float: left;
    height: 80px;
}

heading {
    color: white;
    float: left;
    font-size: 32px;
    font-weight: 700;
    padding: 20px 30px 0px 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
li {
    padding: 30px 10px;
    float: right;
    font-family: "arial", sans-serif;
    font-size: 16px;
    color: #777;
}

a:link {
      color: #777;
      text-decoration: none;
}

a:hover {
    color: #4aaaa5;
}

/* No cursor change for vertical line separators in menu. */
.no-hover {
    pointer-events: none;
}

#header-content {
    width: 960px;
    height: 80px;
    margin: 0 auto;
    background-color: white;
}

header {
    height: 80px;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #ccc;
}

.main-content {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    padding: 10px 0px;
    border-style: solid;
    border-width: 2px;
    border-color: #ddd;
}

.main-text {
    margin: 0px 20px;
}

p {
    font-family: "arial", sans-serif;
    font-size: 16px;
    line-height: 36px;
    color: #777;
}

.label {
    font-family: "arial", sans-serif;
    font-size: 16px;
    color: #777;
    margin: 20px 0 5px 0;
}

.content-bg {
    padding: 30px 0px;
    margin: 0px;
}

h1 {
    color: #4aaaa5;
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0px;
}

#profile-photo {
    width: 200px;
    float: left;
    margin: 20px 20px 10px 0px;
}

body {
    background-image: url("../images/dust_scratches.png");
    margin: 0px;
    color: #777;
}

input[type=text] {
    width: 97.5%;
    padding: 5px 10px;
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

input:focus {
    outline-color: #4aaaa5;
    box-shadow: none;
}

textarea {
    display: block;
    overflow: auto;
    resize: vertical;
    width: 97.5%;
    padding: 5px 10px;
    color: #4aaaa5;
    outline-color: #4aaaa5;
    box-shadow: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
}

input[type=submit] {
    width: 10%;
    margin: 20px 0;
    padding: 10px;
    background-color: #4aaaa5;
    color: #fff;
    border-style: none;
    font-family: "arial", sans-serif;
    font-size: 16px;
    cursor: pointer;
}